.text{
  font-family: 'Arial Black'
}

.red{
  color: #c02425
}
.title{
  font-size: 150px;
  position: absolute;
  top: -100px;
  left: -40px;
  border-bottom: #c02425 5px solid;
}
.lorem{
  position: absolute;
  top: 300px;
  font-size: 5px;
  width: 700px;
  left: 40px;
}

.ipsum{
  position: absolute;
  top: 450px;
  font-size: 5px;
  width: 800px;
  left: 40px;
}
.DB{
  position: absolute;
  bottom: 0px;
  right: 40px;
}
.Dont{
  position: absolute;
  bottom: 0px;
  left: 40px;
  font-size: 1px;
}
.dot{
  width: 700px;
  position: absolute;
  right: -80px;
}
.img{
  width: 700px;
  position: absolute;
  right: -10px;

}
