img{
  position: absolute;
}
.text{
  font-family: arial black;
}
.a{
  right: -100px;
  top: -100px;
}
.b{
  position: absolute;
  left: 20px;
  top: 15px;

}
.ipsum{
  font-size: 13px;
  width: 850px;
  position: absolute;
  top: 450px;
  left: 40px;
}
.title{
  font-size: 160px;
  position: absolute;
  letter-spacing: 80px;
  right: -100px;
}

.title3{
  position: absolute;
  top: 130px;
  font-size: 30px;
  left: 40px;
}
