.red{
  color: #c02425;
}

.text{
  font-family: 'Arial Black'
}

.produced{
  position: absolute;
  top: 40px;
  left: 60px;
  font-size: 10px;
  line-height: 17px;
}
.title{
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: 90px;
  letter-spacing: 85px;
  border-left: solid #c02425 30px;
  padding-left: 40px;

}

.DB{
  position: absolute;
  bottom: 60px;
  left: 60px;
  font-size: 10px;
  font-weight: bold;
}
.RCA{
  position: absolute;
  bottom: 60px;
  left: 100px;
  font-size: 10px;
}

ul{
    list-style: none;
    position: absolute;
    right: 90px;
    top: 30px;
    font-size: 23px;
}

ul li {
    display: inline-block;
    padding: 20px;

}
ul li a{
  text-decoration: none;
  color: black;
}
ul li a:hover{
  color: #c02425;
  border-bottom: 5px solid #c02425;
}

img{
  width:700px;
  position: absolute;
  right: 0px;
  top: 130px;
  padding-right: 0px;
}
